.asideLinks-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  transform: rotate(270deg);
  left: 100px;
  top: 40%;
  /* border: 1px solid #fff; */
}

.asideLinks-container a {
  transform: rotate(90deg);
}

.asidelink-p {
  display: block;

}

@media screen and (max-width: 768px) {
  .asideLinks-container {
    top: 50%;
    left: -80px;
  }

}
