.asideLinks-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: fixed;
  transform: rotate(270deg);
  left: 80px;
  top: 40%;
  /* border: 1px solid #fff; */
}

.asideLinks-container a {
  transform: rotate(90deg);
}

.asideLinks-container a:hover {
  filter: brightness(2.5);
  scale: 1.2;
}

.asidelink-p {
  display: block;
  font-size:  1.1rem; 

}

@media screen and (max-width: 768px) {
  .asideLinks-container {
    top: 50%;
    left: -80px;
  }

}
