.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid green; */
}

.hero-content {
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  /* border: 1px solid red; */
}

.hero-content h2 {
  font-size: var(--xbig-size-font);
  font-weight: 400;
  color: var(--color-font);
  margin-bottom: -50px;
}

.hero-content h1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  /* color: var(--accent-color); */
  background: var(--title-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animated-text {
  width: 80%;
  overflow: hidden;
  /* border: 1px solid var(--border-color); */
}

.animated-text .text {
  position: relative;
  /* color: var(--accent-color); */
  color: var(--color-font);
  font-size: 2rem;
  font-weight: 400;
}

.animated-text .text.first-text {
  color: var(--color-font);
}

.text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg);
  border-left: 2px solid var(--color-font);
  animation: animate 4s steps(14) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}

.hero-content p {
  width: 70%;
  font-size: var(--normal-font);
  font-weight: 400;
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  z-index: 2;
}

.hero-buttons :first-child {
  padding: 6px 16px;
  font-size: var(--normal-font);
  font-weight: 600;
  color: var(--color-bg);
  background-color: var(--color-font );
  border: 1px solid var(--color-font);
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--color-font);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.hero-buttons :last-child {
  padding: 6px 16px;
  font-size: var(--normal-font);
  font-weight: 500;
  color: var(--color-font);
  background-color: var(--color-bg);
  border: 1px solid var(--color-font);
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--color-font);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.hero-buttons :first-child:hover {
  /* transform: scale(1.03); */
  box-shadow: inset 200px 0 0 0 var(--color-bg);
  border: 1px solid var(--color-font);
  color: var(--color-font);
}

.hero-buttons :last-child:hover {
  /* transform: scale(1.03); */
  box-shadow: inset 200px 0 0 0 var(--color-font);
  color: var(--color-bg);
  border: 1px solid var(--color-bg);
}

.hero-badge {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 6px 12px;
  background-color: var(--badge-bg-color);
  border-radius: 12px;
  animation: vibrate 2s infinite;
}

.hero-content h3 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--badge-font-color);
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1024px) {
  .hero-content h1 {
    font-size: 5rem;
  }

  .animated-text .text {
    font-size: 1.8rem;
  }

  .hero-content p {
    width: 80%;
    font-size: 1rem;
  }

  .hero-buttons :first-child,
  .hero-buttons :last-child {
    padding: 6px 12px;
    font-size: 1rem;
  }
}


@media screen and (max-width: 768px) {
  .hero-content {
    height: 100%;
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    gap: 2.4rem;
    margin-top: -25%;
  }

  .hero-content h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  .hero-content h1 {
    text-align: center;
    font-size: 2.8rem;
    width: 100%;
    margin: 0px 0;
  }

  .animated-text {
    width: 90%;
    padding: 0 8px;
    overflow: hidden;
    /* border: 1px solid red; */
  }

  .animated-text .text {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .animated-text .text.first-text {
    color: var(--color-font);
  }

  .hero-content p {
    width: 80%;
    font-size: 1rem;
    text-align: center;
  }

  .hero-buttons {
    gap: 0.5rem;
  }

  .hero-buttons :first-child,
  .hero-buttons :last-child {
    padding: 6px 12px;
    font-size: 1rem;
  }
}
