.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid green; */
}

.hero-content {
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  /* border: 1px solid red; */
}

.hero-content h1 {
  font-size: 6rem;
  font-weight: 700;
  color: var(--color-font-white);
  text-transform: uppercase;
  margin: -60px 0;
}

.animated-text {
  width: 80%;
  overflow: hidden;
  /* border: 1px solid var(--border-color); */
}

.animated-text .text {
  position: relative;
  color: var(--green-color);
  font-size: 2rem;
  font-weight: 400;
}

.animated-text .text.first-text {
  color: #fff;
}

.text.sec-text:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-left: 2px solid var(--green-color);
  animation: animate 4s steps(14) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }
  100% {
    left: 0%;
  }
}

.hero-content p {
  width: 70%;
  font-size: var(--font-size-p);
  font-weight: 400;
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.hero-buttons :first-child {
  padding: 6px 16px;
  font-size: var(--font-size-p);
  font-weight: 600;
  color: var(--color-font-black);
  background-color: var(--color-white-button);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #adfa1d;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s; /* Add the standard "transition" property */
}

.hero-buttons :last-child {
  padding: 6px 16px;
  font-size: var(--font-size-p);
  font-weight: 500;
  color: var(--color-font-white);
  background-color: var(--color-black-bg);
  border: 1px solid white;
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #adfa1d;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s; /* Add the standard "transition" property */
}

.hero-buttons :first-child:hover {
  /* transform: scale(1.03); */
  box-shadow: inset 200px 0 0 0 #adfa1d;
}

.hero-buttons :last-child:hover {
  /* transform: scale(1.03); */
  box-shadow: inset 200px 0 0 0 #adfa1d;
  color: #000000;
  border: 1px solid #adfa1d;
}

@media screen and (max-width: 768px) {
  .hero-content {
    height: 70%;
    width: 100%;
    align-items: center;
    gap: 4rem;
  }

  .hero-content h1 {
    text-align: center;
    font-size: 2.8rem;
    width: 100%;
    margin: -40px 0;
  }

  .animated-text {
    width: 90%;
    padding: 0 10px;
    overflow: hidden;
  }

  .animated-text .text {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
  }

  .animated-text .text.first-text {
    color: #fff;
  }

  .hero-content p {
    width: 80%;
    font-size: 1rem;
    text-align: center;
  }

  .hero-buttons {
    gap: 0.5rem;
  }

  .hero-buttons :first-child,
  .hero-buttons :last-child {
    padding: 6px 12px;
    font-size: 1rem;
  }
}
