.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid var(--border-color); */
}

.hero-content {
  height: 65%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  /* border: 1px solid var(--border-color); */
}

.hero-content h1 {
  font-size: 6rem;
  font-weight: 700;
  color: var(--color-font-white);
  text-transform: uppercase;
  margin: -60px 0;
}

.animated-text {
  width: 80%;
  overflow: hidden;
  /* border: 1px solid var(--border-color); */

}

.animated-text .text {
  position: relative;
  color:  #7b00ff;
  font-size: 2rem;
  font-weight: 400;
}

.animated-text .text.first-text{
  color: #FFF;
} 

.text.sec-text:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border-left: 2px solid  #7b00ff;
  animation: animate 4s steps(14) infinite;
}

@keyframes animate{
  40%, 60%{
      left: calc(100% + 4px);
  }
  100%{
      left: 0%;
  }
}


.hero-content p {
  width: 70%;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--color-font-white);
}

.hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.hero-buttons :first-child {
  padding: 6px 16px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-font-black);
  background-color: var(--color-white-button);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.hero-buttons :last-child {
  padding: 6px 16px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-font-white);
  background-color: var(--color-black-bg);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.hero-buttons :first-child:hover,
.hero-buttons :last-child:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

@media screen and (max-width: 768px) {
  .hero-content {
    height: 70%;
    width: 90%;
    align-items: center;
    gap: 4rem;
  }

  .hero-content h1 {
    text-align: center;
    font-size: 2.6rem;
    width: 100%;
    /* border: 1px solid #7b00ff; */
  }

  .animated-text {
    width: 94%;
    overflow: hidden;
    /* border: 1px solid #7b00ff; */
  }
  
  .animated-text .text {
    position: relative;
    color: #7b00ff;
    font-size: 1.4rem;
    font-weight: 400;
  }
  
  .animated-text .text.first-text{
    color: #FFF;
  } 

  .hero-content p {
    width: 80%;
    font-size: 1rem;
    text-align: center;
  }

  .hero-buttons {
    gap: 0.5rem;
  }

  .hero-buttons :first-child {
    padding: 6px 12px;
    font-size: 1rem;
  }

  .hero-buttons :last-child {
    padding: 6px 12px;
    font-size: 1rem;
  }
}
