.homePage-container {
  /* height: 100vh; */
  width: 65%;
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  /* border: 1px solid rgb(255, 255, 255); */
  grid-template-areas:
    "hero"
    "techSlider"
    "toolSlider"
    "experience"
    "projects"
    "development-modal"
    "asideLinks";
    grid-template-rows: auto 1fr auto;

}

@media screen and (max-width: 768px) {
  .homePage-container {
    width: 85%;
  }
  
}
