.timeline-experience-container {
  width: 65%;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.timeline-experience-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #ccc; */
}

.timeline-experience-container h2 {
  font-size: var(--font-h2);
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 0 1rem 0;
  padding-bottom: 4rem;
}

.timeline-info {
  width: 100%;
  height: 100%;
  /* border: 1px solid rgb(0, 255, 38); */
}

.timeline-content {
  border: 1px solid #222222;
  border-radius: 4px;
}

.timeline-content:hover {
  background-color: #22222247;
}

.timeline-date {
  font-size: 1rem !important;
  font-weight: 500;
  padding-left: 0.4rem;
  color: #9c9c9c !important;
  text-transform: uppercase;
}

.timeline-title {
  font-size: 1.2rem !important;
  font-weight: 500;
  /* text-transform: uppercase; */
  color: rgba(255, 255, 255, 0.87) !important;
  padding: 1rem;
}

.timeline-body-info {
  padding: 0 0 0 1rem !important;
  color: #ffffff9f !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

@media screen and (max-width: 768px) {
  .timeline-experience-container {
    width: 90%;
    margin-top: 20%;
  }

  .timeline-experience-content {
    width: 100%;
  }

  .timeline-experience-container h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .timeline-date {
    font-size: var(--font-size-small-mobile) !important;
  }

  .timeline-title {
    font-size: var(--font-size-small-mobile) !important;
  }

  .timeline-body-info {
    font-size: var(--font-size-small-mobile) !important;
  }
}
