.tech-container {
  height: 50px;
  width: 100%;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrolLeft {
  to {
    left: -100px;
  }
}

.techItem {
  height: 100%;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 12px;
  border: 2px solid var(--color-bg);
  background-color: var(--color-font);
  color: var(--color-bg);
  left: max(calc(100px * 8), 100%);
  animation-name: scrolLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.tech-container p{
    font-weight: 600;
}

.techItem1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.techItem2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.techItem3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.techItem4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.techItem5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.techItem6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.techItem7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.techItem8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}

.tech-container:hover .techItem {
  animation-play-state: paused !important;
}

.tech-container .techItem:hover {
    background-color: var(--color-yellow);
    color: black;
  }

  