@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"); /* source code pro*/
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap"); /* m plus 1 code */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"); /* fira code */

/* reset */
/* @tailwind base;
@tailwind components; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* global styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-black-bg);
}

:root {
  /* font-family: 'Fira Code', sans-serif; */
  /* font-family: "Source Code Pro", sans-serif; */
  font-family: "M PLUS 1 Code", sans-serif;

  color-scheme: dark light;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: var(--dark-bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* colors */
  --accent-color: #7c59aa;
  --dark-bg-color: #000000;
  --light-bg-color: #d8d6d6;
  --dark-white-color: rgba(255, 255, 255, 0.842);
  --white-color: #ffffff;
  --dark-grey-color: #222222;

  /*font-colors */
  --color-font-black: #000000;
  --color-font-white: #ffffff;

  /* borders */
  --border-radius: 4px;

  /* Desktop font-size */
  --xxsmall-font: 0.8rem;
  --small-font: 1rem;
  --normal-font: 1.2rem;
  --big-size-font: 2rem;
  --xbig-size-font: 3rem;
  

  /* Mobile font-size */
  --xxsmall-font-mobile: 0.6rem;
  --font-size-small-mobile: 0.9rem;
  --normal-font-mobile: 1rem;
  --big-size-font-mobile: 1.5rem;

}

:root.dark {
  --color-black-bg: #000000;
  --color-font: #ffffff;
  --dark-grey-color: #222222;
}

:root.light {
  --color-ligth-bg: #9b9a9a;
}
