@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap"); /* fira code */

/* reset */
/* @tailwind base;
@tailwind components; */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* global styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar:hover {
  transform: scale3d(1.5);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-grey-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--border-color);
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection,
span::selection,
div::selection,
li::selection,
ul::selection,
ol::selection,
input::selection,
textarea::selection,
button::selection,
strong::selection {
  background-color: var(--color-accent);
  color: var(--color-font);
}

:root {
  /* font-family: "Fira Code", sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color-scheme: light dark;

  /* borders */
  --border-radius: 4px;

  /* Desktop font-size */
  --xxsmall-font: 0.8rem;
  --small-font: 1rem;
  --normal-font: 1.2rem;
  --big-size-font: 2rem;
  --xbig-size-font: 3rem;
  --xbig-size-font: 2.6rem;

  /* Mobile font-size */
  --xxsmall-font-mobile: 0.6rem;
  --font-size-small-mobile: 0.9rem;
  --normal-font-mobile: 1rem;
  --big-size-font-mobile: 1.5rem;
}

:root.dark {
  --color-bg: #0f0d0e;
  --color-font: #f9f4da;
  --color-accent: #fcba28;
  --dark-grey-color: #282828;
  --border-color: #303030;
  --badge-font-color: #fcba28;
  --badge-bg-color: #ffd5001d;
  --title-color: -webkit-linear-gradient(#f9f4da, #f9f4da, #f9f4da);
  --button-dark-mode: #fcba28;
  --color-yellow: #fcba28;
  --button-hover: #f9f4da;
}

:root.light {
  --color-bg: #e4e6e7;
  --color-font: #222222;
  --color-accent: #ffc800a1;
  --dark-grey-color: #3e3e3e;
  --border-color: #b5b5b5;
  --badge-font-color: #222222;
  --badge-bg-color: #ffc800a1;
  --title-color: -webkit-linear-gradient(#222222, #222222, #222222);
  --button-dark-mode: #222222;
  --color-yellow: #ffc800a1;
  --button-hover: #222222;
}

body {
  background-color: var(--color-bg);
  color: var(--color-font);
}
