.timeline-experience-container {
  width: 100%;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  position: relative;
}

.timeline-experience-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #ccc; */
  border-left: 1px solid var(--border-color)!important;
  padding-bottom: -20px;
}

.timeline-experience-container h2 {
  font-size: var(--big-size-font);
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 0 1rem 0;
  margin-bottom: 4rem;
}

.timeline-info {
  width: 100%;
  height: 100%;
  /* border: 1px solid #ccc; */
}

.timeline-content {
  /* border: 1px solid var(--color-font); */
  border-radius: 4px;
  padding: 1rem;
}

.timeline-content:hover {
  background-color: var(--border-color);
  padding: 1rem;
}

.timeline-date {
  font-size: 1rem !important;
  font-weight: 500;
  padding-left: 0.4rem;
  color: var(--color-font) !important;
  text-transform: uppercase;
}

.timeline-point {
  background-color: var(--border-color) !important;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  left: -8px;
  border: 2px solid var(--color-bg);
}

.timeline-title {
  font-size: 1.2rem!important;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-font) !important;
  padding: 1rem;
}

.timeline-body-info {
  width: 96%;
  padding: 0 0 0 1rem !important;
  color: var(--color-font) !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.timeline-body-info strong{
  color: var(--color-font) !important;
}

@media screen and (max-width: 768px) {
  .timeline-experience-container {
    width: 90%;
    margin-top: 20%;
  }

  .timeline-experience-content {
    width: 100%;
  }

  .timeline-experience-container h2 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .timeline-date {
    font-size: var(--font-size-small-mobile) !important;
  }

  .timeline-title {
    font-size: var(--font-size-small-mobile) !important;
  }

  .timeline-body-info {
    font-size: var(--font-size-small-mobile) !important;
  }
}
